[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-nerdtree"]
	path = home/.vim/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-ctrlp"]
	path = home/.vim/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-gitgutter"]
	path = home/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vendor/inconsolata"]
	path = vendor/inconsolata
	url = git@github.com:googlefonts/Inconsolata.git
[submodule "home/.vim/bundle/vim-solarized"]
	path = home/.vim/bundle/vim-solarized
	url = git@github.com:lifepillar/vim-solarized8.git
