[user]
	name = Geoff Adams
[core]
	eol = lf
	autocrlf = input
	editor = mvim 
	pager = less -r
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[colors]
	ui = auto
[apply]
	whitespace = fix
[push]
	default = current
[branch]
	autosetuprebase = always
[alias]
	st = status -sb
	ci = commit
	br = branch
	co = checkout

	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

	df = diff
	changes = diff --name-status
	unmerged = branch --no-merged master
	unpushed = branch --no-merged origin/master

	who = shortlog -s --
	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short

	cb = "!sh -c 'git checkout -b $1 && git branch --set-upstream-to=origin/master $1' -"
	ceb = "!sh -c 'git checkout $1 && git branch --set-upstream-to=origin/master $1' -"
	db = "!sh -c 'git branch -d $1 && git remote prune origin' -"

	find = log -S
