{
    AppleShowAllFiles = 0;
    DesktopViewSettings =     {
    };
    DownloadsFolderListViewSettingsVersion = 1;
    "FK_AppCentricShowSidebar" = 1;
    "FK_StandardViewSettings" =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 12;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 300;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 12;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = "FK_StandardViewSettings";
    };
    FXArrangeGroupViewBy = Kind;
    FXDefaultSearchScope = SCcf;
    FXDesktopVolumePositions =     {
    };
    FXEnableExtensionChangeWarning = 0;
    FXICloudDriveDeclinedUpgrade = 0;
    FXICloudDriveDesktop = 1;
    FXICloudDriveDocuments = 1;
    FXICloudDriveEnabled = 1;
    FXICloudDriveFirstSyncDownComplete = 1;
    FXICloudLoggedIn = 1;
    FXPreferredGroupBy = Kind;
    FXPreferredSearchViewStyleVersion = "%00%00%00%01";
    FXPreferredViewStyle = Nlsv;
    FXQuickActionsConfigUpgradeLevel = 1;
    FXRecentFolders =     (
    );
    FXSidebarUpgradedToTenFourteen = 1;
    FXSidebarUpgradedToTenTen = 1;
    FXSyncExtensionToolbarItemsAutomaticallyAdded =     (
        "com.synology.SynologyDrive.FinderSync"
    );
    FXToolbarUpgradedToTenEight = 1;
    FXToolbarUpgradedToTenNine = 2;
    FXToolbarUpgradedToTenSeven = 1;
    FavoriteTagNames =     (
        "",
        Red,
        Orange,
        Yellow,
        Green,
        Blue,
        Purple,
        Grey
    );
    LastTrashState = 0;
    "NSToolbar Configuration Browser" =     {
        "TB Default Item Identifiers" =         (
            "com.apple.finder.BACK",
            NSToolbarFlexibleSpaceItem,
            "com.apple.finder.SWCH",
            "com.apple.finder.ARNG",
            "com.apple.finder.ACTN",
            "com.apple.finder.SHAR",
            "com.apple.finder.LABL",
            NSToolbarFlexibleSpaceItem,
            NSToolbarFlexibleSpaceItem,
            "com.apple.finder.SRCH"
        );
        "TB Display Mode" = 2;
        "TB Icon Size Mode" = 1;
        "TB Is Shown" = 1;
        "TB Item Identifiers" =         (
            "com.apple.finder.BACK",
            "com.apple.finder.PATH",
            NSToolbarFlexibleSpaceItem,
            "com.apple.finder.SWCH",
            "com.apple.finder.ARNG",
            "com.apple.finder.ACTN",
            "com.apple.finder.SHAR",
            "com.apple.finder.LABL",
            NSToolbarFlexibleSpaceItem,
            NSToolbarFlexibleSpaceItem,
            "com.synology.SynologyDrive.FinderSync",
            "com.apple.finder.SRCH"
        );
    };
    "NSWindowTabbingShoudShowTabBarKey-com.apple.finder.TBrowserWindow" = 1;
    NetworkViewSettings =     {
        CustomViewStyleVersion = 1;
    };
    NewWindowTarget = PfHm;
    NewWindowTargetPath = "file:///Users/geoff/";
    RecentMoveAndCopyDestinations =     (
    );
    RecentsArrangeGroupViewBy = "Date Last Opened";
    SearchRecentsSavedViewStyleVersion = "%00%00%00%01";
    SearchViewSettings =     {
    };
    ShowExternalHardDrivesOnDesktop = 1;
    ShowHardDrivesOnDesktop = 1;
    ShowMountedServersOnDesktop = 1;
    ShowPathbar = 1;
    ShowPreviewPane = 0;
    ShowRemovableMediaOnDesktop = 1;
    ShowSidebar = 1;
    ShowStatusBar = 1;
    ShowTabView = 1;
    SidebarDevicesSectionDisclosedState = 1;
    SidebarPlacesSectionDisclosedState = 1;
    SidebarShowingSignedIntoiCloud = 1;
    SidebarShowingiCloudDesktop = 1;
    SidebarTagsSctionDisclosedState = 1;
    SidebarWidth = 238;
    SidebariCloudDriveSectionDisclosedState = 1;
    StandardViewOptions =     {
        ColumnViewOptions =         {
            ArrangeBy = dnam;
            ColumnShowFolderArrow = 1;
            ColumnShowIcons = 1;
            ColumnWidth = 300;
            FontSize = 12;
            PreviewDisclosureState = 1;
            SharedArrangeBy = kipl;
            ShowIconThumbnails = 1;
            ShowPreview = 1;
        };
    };
    StandardViewSettings =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 506;
                },
                                {
                    ascending = 0;
                    identifier = ubiquity;
                    visible = 0;
                    width = 35;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = dateAdded;
                    visible = 0;
                    width = 181;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 12;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        GalleryViewSettings =         {
            arrangeBy = name;
            iconSize = 48;
            showIconPreview = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 506;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 12;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = StandardViewSettings;
    };
    TrashViewSettings =     {
        CustomViewStyleVersion = 1;
    };
}
