swap_tiled_layout name="focus-left" {
    tab max_panes=2 {
        pane
    }
    tab max_panes=5 {
        pane split_direction="vertical" {
            pane size="50%"
            pane size="50%" split_direction="horizontal" {
                pane size="34%"
                pane size="33%"
                pane size="33%"
            }
        }
    }
    tab exact_panes=6 {
        pane split_direction="vertical" {
            pane size="50%" split_direction="horizontal" {
                pane size="67%"
                pane size="33%"
            }
            pane size="50%" split_direction="horizontal" {
                pane size="34%"
                pane size="33%"
                pane size="33%"
            }
        }
    }
}
swap_tiled_layout name="focus-right" {
    tab max_panes=2 {
        pane
    }
    tab max_panes=5 {
        pane split_direction="vertical" {
            pane size="50%" split_direction="horizontal" {
                pane size="34%"
                pane size="33%"
                pane size="33%"
            }
            pane size="50%"
        }
    }
    tab exact_panes=6 {
        pane split_direction="vertical" {
            pane size="50%" split_direction="horizontal" {
                pane size="34%"
                pane size="33%"
                pane size="33%"
            }
            pane size="50%" split_direction="horizontal" {
                pane size="67%"
                pane size="33%"
            }
        }
    }
}
swap_tiled_layout name="vertical" {
    tab exact_panes=7 {
        pane split_direction="vertical" {
            pane size="50%" split_direction="horizontal" {
                pane size="34%"
                pane size="33%"
                pane size="33%"
            }
            pane size="50%" split_direction="horizontal" {
                pane size="34%"
                pane size="33%"
                pane size="33%"
            }
        }
    }
}
swap_tiled_layout name="horizontal" {
    tab max_panes=2 {
        pane
    }
    tab max_panes=3 {
        pane size="50%" split_direction="horizontal" {
            pane size="50%"
            pane size="50%"
        }
    }
    tab max_panes=5 {
        pane split_direction="horizontal" {
            pane size="50%" split_direction="vertical" {
                pane size="50%"
                pane size="50%"
            }
            pane size="50%" split_direction="vertical" {
                pane size="50%"
                pane size="50%"
            }
        }
    }
    tab max_panes=7 {
        pane split_direction="horizontal" {
            pane size="50%" split_direction="vertical" {
                pane size="34%"
                pane size="33%"
                pane size="33%"
            }
            pane size="50%" split_direction="vertical" {
                pane size="34%"
                pane size="33%"
                pane size="33%"
            }
        }
    }
}
